.g-svg{
    width: 26.5px;
    height: 26.5px;
    fill: $black;

    &:hover{ fill: $blue; }
}


.g-avatar{
    grid-area: avatar;
    &__photo{
        width: 49px;
        height: 49px;
        border-radius: 50%;
        object-fit: cover;
    }
}
