.sidebar{
    position: relative;
    &__search{
        position: sticky;
        top: 0;
        width: 100%;
        height: var(--top);
        background-color: $white;
    }
        &__input{
            width: 100%;
            height: 40px;
            margin: 5px 0;
            padding: 0 40px;

            font-size: 16px;
            border-radius: 30px;
            background-color: darken($gray-bg1, 5);

            &:focus{
                background-color: $white;
                border: 1px solid $blue;
                color: $gray-link;
            }
            &:focus + .sidebar__icon{ fill: $blue; }
        }
        &__icon{
            width: 20px;
            height: 20px;
            object-fit: contain;
            position: absolute;
            left: 12px;
            top: 50%;
            transform: translateY(-50%);
            fill: $gray-bg2;
            z-index: 10;

            &--search{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 25px;
                width: 25px;
                visibility: hidden;
                opacity: 0;

                border-radius: 50%;
                left: calc(100% - 37px);
                fill: $blue;
                background-color: $blue;
                cursor: pointer;

                .sidebar__svg{
                    width: 10px;
                    object-fit: contain;
                    fill: $white;
                }
            }
        }
    &__main-title{
        padding: 15px;
        @include f19();

        background-color: $gray-bg1;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    &__item{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 69px;
        grid-template-areas: 'info avatar';
        grid-gap: 10px;
        place-items: center start;

        padding: 15px;
        transition: $transition;
        border-bottom: $border;
        background-color: $gray-bg1;
        cursor: pointer;

        &:hover{
            background-color: darken($gray-bg1, 3);
            transition: $transition;
        }
    }
        &__info{
            grid-area: info;
            display: flex;
            flex-direction: column;
        }
            &__topic,
            &__number{ @include f13(); }
            &__title{
                @include f15();
                margin: 5px 0;
            }
            &__ht{
                color: $blue;
                line-height: 20px;
                cursor: pointer;

                &:hover{ text-decoration: underline; }
            }
        &__avatar{ grid-area: avatar; }
            &__photo{
                width: 100%;
                height: 69px;
                max-width: 69px;
                object-fit: cover;
                border-radius: 15px;
            }
}
