doctype html
html(lang="es", dir="ltr")
    head
        meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(charset="utf-8")     
        meta(name="author", content="Ricardo Oliva Alonso")
        meta(name="title", content="Ricardo Oliva Alonso | Desarrollador Web | Twitter")
        meta(name="description", content="Hola soy desarrollador web y esta página esta basada en UTwitter")
        meta(name="robots", content="index, follow")
        title Ricardo Oliva Alonso | Desarrollador Web | Twitter
           
        meta(name="theme-color", content="#1da1f2")      
        link(rel="stylesheet", href="css/styles.css")  
        link(href="img/favicon.png", rel="shorcut icon", type="image/x-icon")

    body
        include modal
        div.container
            include header
            include tweets
            include menu
            include sidebar
            include messages
        script( src="js/main.js" defer )
    


    
