@font-face {
	font-family: 'Segoe';
	src: url('../fonts/SegoeUI.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'Segoe';
	src: url('../fonts/SegoeUIBold.ttf') format('truetype');
	font-weight: 700;
}
// -------------------------
@mixin f19(){
	font-size: 19px;
	font-weight: 700;
	line-height: 1.31;
}
@mixin f15(){
	font-size: 15px;
	font-weight: 700;
	line-height: 1.31;
}
@mixin f15l(){
	font-size: 15px;
	font-weight: 500;
	color: $gray-link;
}
@mixin f13(){
	font-size: 13px;
	font-weight: 400;
	color: $gray-link;
}
